.Dashboard {
    display: flex;
    justify-content: left;
}
.Sidebar {
    height: 800px;
    background-color: rgba(91, 91, 91, 0.5);
    text-align: left;

    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.SidebarLink {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 30px;
    color: white;

}

.Dash {
    text-align: left;
}

.DashboardGreeting {
    padding-top: 50px;
    padding-left: 90px;
    font-size: 50px;
}

.cards {

    text-align: center;

    margin-top: 100px;
    margin-left: 100px;
    display:flex;
    flex-wrap: wrap;
}

.card {
    margin-right: 70px;
    margin-bottom: 30px;
    width: 250px;
}

.ElectionHeader {
    margin-top: 100px;
    margin-left: 100px;
    font-size: 50px;
    color: #777777;
}

.ElectionCards {

    text-align: center;

    margin-top: 20px;
    margin-left: 100px;
    display:flex;
    flex-wrap: wrap;
}