.Profile {
    text-align: left;
    padding-left: 10%;
    padding-top: 5%;
}

.ProfileGreeting {

    font-size: 70px;
}

.LogOut {

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-size: 40px;
    color: #FFFFFF;

    background-color: #000000;
    border-radius: 5px;
}


.LogOut:hover {
    color: #CCCCCC;
}